<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <!-- Defaults to /sitecore/templates/Email Campaign/Messages/Inner Content/Message Root as required be the AB Test Message type -->
            <setting name="Feature.Newsletter.NewsletterRootTemplate" value="{3F12D78C-B7B7-4157-98FC-DA3322EE1A5B}" />
        </settings>
        <experienceAnalytics>
            <!-- The reduce subsystem is disabled for demos as it ruins the analytics data for EXM -->
            <reduce>
                <patch:attribute name="enabled" value="false" />
                <agent>
                    <param desc="triggerHour">-1</param>
                </agent>
            </reduce>
        </experienceAnalytics>
    </sitecore>
</configuration>