<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Newsletter" dependencies="Foundation.Serialization">
          
          <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\feature\Newsletter\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Bug: Unicorn cannot serialize items from "News" and "Newsletter" - hence the rename to "_Newsletter" -->
            <include name="Feature.Newsletter.Templates" database="master" path="/sitecore/templates/Feature/_Newsletter" />
            <include name="Feature.Newsletter.Renderings" database="master" path="/sitecore/layout/renderings/Feature/_Newsletter" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>