<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Newsletter" dependencies="Foundation.Serialization">
          
          <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\feature\Newsletter\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Bug: Unicorn cannot serialize items from "News" and "Newsletter" - hence the rename to "_Newsletter" -->
            <include name="Feature.Newsletter.Templates" database="master" path="/sitecore/templates/Feature/_Newsletter" />
            <include name="Feature.Newsletter.Renderings" database="master" path="/sitecore/layout/renderings/Feature/_Newsletter" />
            <include name="Feature.Newsletter.Layouts" database="master" path="/sitecore/layout/layouts/Feature/_Newsletter" />
            <include name="Feature.Newsletter.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/_Newsletter" />

            <!--// EXM Settings -->
            <include name="Sitecore.Demo.Legal.Website.EXM.RootList" database="master" path="/sitecore/system/Modules/E-mail Campaign Manager/System/Root List" />
            <include name="Sitecore.Demo.Legal.Website.EXM.SecurityKey" database="master" path="/sitecore/system/Modules/E-mail Campaign Manager/System/Security Key" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>