<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Favorites" dependencies="Foundation.Serialization">
          <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\feature\Favorites\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Favorites" />
            <include name="Renderings" database="master" path="/sitecore/layout/renderings/Feature/Favorites" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>