//Colours
$color-primary: #008998 !default;
$bg-media-overlay-color: #003b42;

$color-secondary: #5f5442 !default;
$color-secondary-dark: #4e402e !default;
$color-secondary-light: #68604d !default;
$color-secondary-lighter: #716b58 !default;
$color-secondary-lightest: #dcdad5 !default;

//Fonts
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight: 300;

//Headings
$headings-font-weight: 300;

//lists
$list-font-weight: 300;
$active-list-font-weight: 500;

//breadcrumbs
$breadcrumb-font-weight: 300;
$breadcrumb-active-font-weight: 500;

//button
$btn-font-weight: 300;

//counter
$counter-font-weight: 300;

//dropdown
$dropdown-header-font-weight: 500;

//Jumbotron
$jumbotron-font-weight: 500;

//forms
$label-inner-font-weight: 300;
$input-label-font-weight: 300;

//nav
$nav-link-font-weight: 500;
$sidebar-nav-item-font-weight-active: 500;
$sidebar-nav-item-font-weight: 300;