<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>
    <add key="baseUrl" value="http://legal.test5ua1.dk.sitecore.net/" />
    <add key="aboutUsUrl" value="About-Us" />
    <add key="CorporateFinanceUrl" value="en/Practise-Areas/Corporate-Finance" />
    <add key="TaxationWebinarRegister" value="Landing-Pages/Taxation-Webinar/Taxation-Webinar-Register" />
    <add key="TaxationWebinarMoreInfo" value="Landing-Pages/Taxation-Webinar/Taxation-Webinar-More-Info" />
    <add key="LegalEmailPage" value="Legal/Email" />
    <add key="LegalSearchPage" value="Legal/Search" />
    <add key="CorporateFinanceUrl" value="Practise-Areas/Corporate-Finance" />
    <add key="TrustEstateTaxLawUrl" value="Practise-Areas/Trusts-Estates-and-Tax-Law" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HelperWebServiceSoap" />
        <binding name="AutoTestsHelperServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://legal.dev.local/HelperWebService.asmx" binding="basicHttpBinding" bindingConfiguration="HelperWebServiceSoap" contract="HelperService.HelperWebServiceSoap" name="HelperWebServiceSoap" />
      <endpoint address="http://legal.dev.local/tests.proxy.asmx" binding="basicHttpBinding" bindingConfiguration="AutoTestsHelperServiceSoap" contract="AutoTestsHelperServiceSoapClient.AutoTestsHelperServiceSoap" name="AutoTestsHelperServiceSoap" />
    </client>
  </system.serviceModel>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow></configuration>