@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using PrintStudio.PublishingEngine.Helpers;
@model Sitecore.Feature.Brochure.Models.IBrochureItems



    <div>
    Hello World from PXM
    You should never see this page.
    @foreach (var item in Model.Items)
    {

        @Logger.Info("Brochure:" + item + System.Environment.NewLine);

    }
</div>
