<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Email delivery service API.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <exm>
      <eds>
        <!-- PROXY SETTINGS
             Proxy settings for SMTP and POP3 clients 
        -->
        <proxySettings type="Sitecore.EDS.Core.Net.ProxySettings, Sitecore.EDS.Core" singleInstance="true">
          <enabled>false</enabled>
        </proxySettings>

        <!-- SMTP SETTINGS OBJECT
             Creates SMTP settings class.
        -->
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>localhost</server>
          <port>25</port>
          <userName></userName>
          <password></password>
          <authenticationMethod>None</authenticationMethod>
          <startTls>false</startTls>
          <proxySettings ref="exm/eds/proxySettings" />
        </smtpSettings>

        <!-- CONNECTION POOL SETTINGS 
             Defines the connection pool settings.
        -->
        <connectionPoolSettings type="Sitecore.EDS.Core.Net.Smtp.ConnectionPoolSettings, Sitecore.EDS.Core" singleInstance="true">
          <maxPoolSize>10</maxPoolSize>
          <delayBetweenConnectionRetries>00:00:10.000</delayBetweenConnectionRetries>
          <maxConnectionWaitTime>00:00:30.000</maxConnectionWaitTime>
          <maxConnectionIdleTime>00:10:00.000</maxConnectionIdleTime>
          <maxConnectionRetries>3</maxConnectionRetries>
        </connectionPoolSettings>

        <!-- CONNECTION POOL
             Defines the connection pool.
        -->
        <connectionPool type="Sitecore.EDS.Core.Net.Smtp.ChilkatConnectionPool, Sitecore.EDS.Core" singleInstance="true">
          <param ref="exm/eds/connectionPoolSettings" />
          <param ref="exm/eds/smtpSettings" />
        </connectionPool>

        <!-- EMAIL DISPATCH MANAGER
             Provides email dispatching.
        -->
        <dispatchManager defaultProvider="default">
          <providers>
            <clear />
            <add name="default" type="Sitecore.EDS.Providers.CustomSmtp.DispatchProvider, Sitecore.EDS.Providers.CustomSmtp">
              <param ref="exm/eds/connectionPool" />
              <param ref="exm/eds/environmentIdentifier" />
            </add>
          </providers>
        </dispatchManager>

        <!-- BOUNCED MESSAGES MANAGER
             Handles the reported bounced messages.
        -->
        <bounceManager defaultProvider="default">
          <providers>
            <clear />
            <add name="default" type="Sitecore.EDS.Core.Reporting.DeliveryReportProvider`1[[Sitecore.EDS.Core.Reporting.Bounce, Sitecore.EDS.Core]], Sitecore.EDS.Core" />
          </providers>
        </bounceManager>

        <!-- POP3 SETTINGS
             A list of pop3 settings for different pop3 clients.
        -->
        <pop3Settings>
          <pop3Setting type="Sitecore.EDS.Core.Net.Pop3.Pop3Settings, Sitecore.EDS.Core" singleInstance="true">
            <server>outlook.office365.com</server>
            <port>110</port>
            <userName>no_reply@sitecore.net</userName>
            <password>fD55vuBVFc</password>
            <authenticationMethod>login</authenticationMethod>
            <useSsl>false</useSsl>
            <startTls>true</startTls>
            <proxySettings ref="exm/eds/proxySettings" />
          </pop3Setting>
        </pop3Settings>

        <!-- BOUNCE INSPECTOR
             Verifies the message mime is a bounce and determines the type of the bounce.
        -->
        <bounceInspector type="Sitecore.EDS.Core.Reporting.ChilkatBounceInspector, Sitecore.EDS.Core" singleInstance="true" />

        <!-- POP3 RECEIVERS COLLECTION
             Defines the POP3 bounce receivers collection
        -->
        <receiversCollection type="Sitecore.EDS.Providers.CustomSmtp.Reporting.Pop3ReceiversCollection, Sitecore.EDS.Providers.CustomSmtp" singleInstance="true" >
          <settings hint="list:AddSettings">
            <setting ref="exm/eds/pop3Settings/pop3Setting"/>
          </settings>
          <param ref="exm/eds/bounceInspector"/>
          <param ref="exm/eds/environmentIdentifier" />
        </receiversCollection>

      </eds>
    </exm>
    <scheduling>
      <agent type="Sitecore.EDS.Providers.CustomSmtp.Tasks.PullPop3BouncesAgent, Sitecore.EDS.Providers.CustomSmtp" method="Run" interval="01:00:00">
        <param ref="exm/eds/receiversCollection" />
      </agent>
    </scheduling>
  </sitecore>
</configuration>