<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Legal.Website" description="Legal content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\project\legal\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <include name="Sitecore.Demo.Legal.Website.Templates" database="master" path="/sitecore/templates/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.Branches" database="master" path="/sitecore/templates/Branches/Legal" />

            <include name="Sitecore.Demo.Legal.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Legal" />

            <include name="Sitecore.Demo.Legal.Website.Content" database="master" path="/sitecore/content/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Media" database="master" path="/sitecore/media library/Legal"/>

            <include name="Sitecore.Demo.Legal.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Legal Persona"/>
            <include name="Sitecore.Demo.Legal.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Legal"/>

            <include name="Sitecore.Demo.Legal.Website.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Workflow" database="master" path="/sitecore/system/Workflows/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Workflow.LegalWorkflow" database="master" path="/sitecore/system/Workflows/Legal Workflow"/>
            <include name="Sitecore.Demo.Legal.Website.WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Alias" database="master" path="/sitecore/system/Aliases/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group/Legal"/>

            <!--// xGenerator -->
            <include name="Sitecore.Demo.Legal.Website.xProfilePresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Contacts/legal"/>
            <include name="Sitecore.Demo.Legal.Website.xGeneratorPresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Presets/legal"/>
            <include name="Sitecore.Demo.Legal.Launchpad.Parameters" database="core" path="/sitecore/client/Applications/ExperienceAnalytics/Shared/LaunchPad/Parameters/Top five campaigns by visits Parameters"/>
            
            <!--// xGenerator for ExM-->
            <include name="Sitecore.Demo.Legal.Website.ExMxGeneratorPresets" database="core" path="/sitecore/client/Applications/ExmExperienceGenerator/Common/Presets/legal"/>

            <!--// PXM -->
            <include name="Sitecore.Demo.Legal.Print" database="master" path="/sitecore/Print Studio/Print Studio Projects/Legal"/>
            <include name="Sitecore.Demo.Legal.Print.Media" database="master" path="/sitecore/media library/Print Studio Projects/Master documents/Legal"/>
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecore.demo.sourceFolder)\project\Legal\roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="legal" pattern="^Legal .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.sourceFolder)\project\Legal\users" singleInstance="true"/>
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="legal" />
          </userPredicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>