<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Legal.Website" description="Legal content" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\project\legal\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.Demo.Legal.Website.Templates" database="master" path="/sitecore/templates/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Legal" />

            <include name="Sitecore.Demo.Legal.Website.Content" database="master" path="/sitecore/content/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Media" database="master" path="/sitecore/media library/Legal"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>