<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
          <configuration name="Project.Legal.Website" description="Legal content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\project\legal\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.Demo.Legal.Website.Templates" database="master" path="/sitecore/templates/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Legal" />
            <include name="Sitecore.Demo.Legal.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Legal" />

            <include name="Sitecore.Demo.Legal.Website.Content" database="master" path="/sitecore/content/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Media" database="master" path="/sitecore/media library/Legal"/>

            <include name="Sitecore.Demo.Legal.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Legal Persona"/>
            <include name="Sitecore.Demo.Legal.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Legal"/>
            <include name="Sitecore.Demo.Legal.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Legal"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>