<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="legal">legal</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="legal">legal</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="legal" patch:after="site[@name='modules_website']" hostName="legal.$(sitecore.demo.rootHostName)"  database="web" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/legal" startItem="/Home" dictionaryPath="/sitecore/content/legal/global/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="{77C7E4F0-1787-431E-827F-4CD216D5B9AC}" />
    </sites>
    <cacheSizes>
      <sites>
        <legal>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </legal>
      </sites>
    </cacheSizes>
    <!--
      <settings>
        <setting name="Preview.DefaultSite" value="legal" />
      </settings>
    -->
  </sitecore>
</configuration>