<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="finance">finance</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="finance">finance</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="finance" patch:before="site[@name='habitat']" hostName="finance" targetHostName="finance.$(rootHostName)"  scheme="http" database="web" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content/finance" startItem="/Home" dictionaryPath="/sitecore/content/finance/global/dictionary" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" formsRoot="/sitecore/system/Modules/Web Forms for Marketers/Finance" />
    </sites>
    <cacheSizes>
      <sites>
        <finance>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </finance>
      </sites>
    </cacheSizes>
    <!--
      <settings>
        <setting name="Preview.DefaultSite" value="finance" />
      </settings>
    -->
  </sitecore>
</configuration>