<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Finance.Website" description="Finance content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website, Project.Legal.Website" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\project\finance\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <include name="Sitecore.Demo.Finance.Website.Templates" database="master" path="/sitecore/templates/Project/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Branches" database="master" path="/sitecore/templates/Branches/Finance" />

                        <include name="Sitecore.Demo.Finance.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Finance" />

                        <include name="Sitecore.Demo.Finance.Website.Content" database="master" path="/sitecore/content/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Media" database="master" path="/sitecore/media library/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Finance" />

                        <include name="Sitecore.Demo.Finance.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Finance Persona" />
                        <include name="Sitecore.Demo.Finance.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Finance" />

                        <include name="Sitecore.Demo.Finance.Website.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Workflow" database="master" path="/sitecore/system/Workflows/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Workflow.FinanceWorkflow" database="master" path="/sitecore/system/Workflows/Finance Workflow" />
                        <include name="Sitecore.Demo.Finance.Website.WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.Alias" database="master" path="/sitecore/system/Aliases/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.TestLab" database="master" path="/sitecore/system/Marketing Control Panel/Test Lab/Finance" />

                      <!--// xGenerator -->
                        <include name="Sitecore.Demo.Finance.Website.xProfilePresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Contacts/Finance" />
                        <include name="Sitecore.Demo.Finance.Website.xGeneratorPresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Presets/Finance" />

                        <!--// xGenerator for ExM-->
                        <include name="Sitecore.Demo.Finance.Website.ExMxGeneratorPresets" database="core" path="/sitecore/client/Applications/ExmExperienceGenerator/Common/Presets/Finance" />
                    </predicate>
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecore.demo.sourceFolder)\project\finance\roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="finance" pattern="^Finance .*$" />
                    </rolePredicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.sourceFolder)\project\finance\users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="finance" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>

            </configurations>
        </unicorn>
    </sitecore>
</configuration>
