<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Finance.Website" description="Finance content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\project\finance\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <include name="Templates" database="master" path="/sitecore/templates/Project/Finance" />
                        <include name="Branches" database="master" path="/sitecore/templates/Branches/Finance" />

                        <include name="Renderings" database="master" path="/sitecore/layout/renderings/Project/Finance" />
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Finance" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Finance" />

                        <include name="Content" database="master" path="/sitecore/content/Finance" />
                        <include name="Media" database="master" path="/sitecore/media library/Finance" />
                        <include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Finance" />

                        <include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Finance Persona" />
                        <include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Finance" />
                        <include name="EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Finance" />
                        <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Finance" />
                        <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Finance" />
                        <include name="Lists" database="master" path="/sitecore/system/List Manager/All Lists/Finance" />
                        <include name="Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Finance" />
                        <include name="Social.Applications" database="master" path="/sitecore/system/Social/Applications/Finance" />
                        <include name="Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Finance" />

                        <include name="WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Finance" />
                        <include name="Workflow" database="master" path="/sitecore/system/Workflows/Finance" />
                        <include name="Workflow.FinanceWorkflow" database="master" path="/sitecore/system/Workflows/Finance Workflow" />
                        <include name="WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Finance" />
                        <include name="WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Finance" />
                        <include name="Alias" database="master" path="/sitecore/system/Aliases/Finance" />
                        <include name="CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group/Finance" />
                        <include name="TestLab" database="master" path="/sitecore/system/Marketing Control Panel/Test Lab/Finance" />

                      <!--// xGenerator -->
                        <include name="xProfilePresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Contacts/Finance" />
                        <include name="xGeneratorPresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Presets/Finance" />

                        <!--// xGenerator for ExM-->
                        <include name="ExMxGeneratorPresets" database="core" path="/sitecore/client/Applications/ExmExperienceGenerator/Common/Presets/Finance" />
                    </predicate>
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecore.demo.sourceFolder)\project\finance\roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="finance" pattern="^Finance .*$" />
                    </rolePredicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.sourceFolder)\project\finance\users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="finance" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>

            </configurations>
        </unicorn>
    </sitecore>
</configuration>
