<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Utilities.Website" description="Utilities content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="$(sitecore.demo.sourceFolder)\project\utilities\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <include name="Sitecore.Demo.Utilities.Website.Templates" database="master" path="/sitecore/templates/Project/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Branches" database="master" path="/sitecore/templates/Branches/Utilities" />

                        <include name="Sitecore.Demo.Utilities.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Utilities" />

                        <include name="Sitecore.Demo.Utilities.Website.Content" database="master" path="/sitecore/content/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Media" database="master" path="/sitecore/media library/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Utilities" />

                        <include name="Sitecore.Demo.Utilities.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Utilities Persona" />
                        <include name="Sitecore.Demo.Utilities.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Utilities" />

                        <include name="Sitecore.Demo.Utilities.Website.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Utilities" />
                        <!--
                        <include name="Sitecore.Demo.Utilities.Website.Workflow" database="master" path="/sitecore/system/Workflows/Utilities" />
                        -->
                        <include name="Sitecore.Demo.Utilities.Website.Workflow.UtilitiesWorkflow" database="master" path="/sitecore/system/Workflows/Utilities Workflow" />
                        <include name="Sitecore.Demo.Utilities.Website.WFFMUserTemplates" database="core" path="/sitecore/templates/Project/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.WFFMUserSecurityProfile" database="core" path="/sitecore/system/Settings/Security/Profiles/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.Alias" database="master" path="/sitecore/system/Aliases/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.CampaignGroup" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Campaign group/Utilities" />

                        <include name="Sitecore.Demo.Utilities.Website.Themes" database="master" path="/sitecore/system/Settings/Project/Themes/Utilities"/>

                        <!--// xGenerator -->
                        <include name="Sitecore.Demo.Utilities.Website.xProfilePresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Contacts/Utilities" />
                        <include name="Sitecore.Demo.Utilities.Website.xGeneratorPresets" database="core" path="/sitecore/client/Applications/ExperienceGenerator/Common/Presets/Utilities" />

                        <!--// xGenerator for ExM-->
                        <include name="Sitecore.Demo.Utilities.Website.ExMxGeneratorPresets" database="core" path="/sitecore/client/Applications/ExmExperienceGenerator/Common/Presets/Utilities" />
                    </predicate>
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sitecore.demo.sourceFolder)\project\utilities\roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="utilities" pattern="^Utilities .*$" />
                    </rolePredicate>
                    <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sitecore.demo.sourceFolder)\project\utilities\users" singleInstance="true" />
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="utilities" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>

            </configurations>
        </unicorn>
    </sitecore>
</configuration>