<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <printstudio>
      <printstudioengine type="Sitecore.PrintStudio.Configuration.SettingsSection, Sitecore.PrintStudio.Configuration">
        <settings hint="raw:AddToSettingsList">
          <setting name="PrintStudio.ProjectsFolder">
            <patch:attribute name="value" value="$(dataFolder)\PXM\Projects" />
          </setting>
          <setting name="PrintStudio.PublishingCachePath">
            <patch:attribute name="value" value="C:\PXMPublishing\PublishingCache" />
          </setting>
          <setting name="PrintStudio.DBServer.IPAddress">
            <patch:attribute name="value" value="localhost" />
          </setting>
          <setting name="PrintStudio.DBServer.Port">
            <patch:attribute name="value" value="8081" />
          </setting>
        </settings>
      </printstudioengine>
    </printstudio>
  </sitecore>
</configuration>