body {
    background-color: #EF8200;
}
.logo svg, .logo img {
    height: auto;
}
.pagelayout-fixed {
    .header-static {
        .navbar-collapse.collapse {
            padding-left: 0;

            >ul {
                li:nth-child(1) {
                    a {
                        padding-left: 5px;
                    }
                }
            }
        }

        .navbar-right {
            >nav {
                .nav-service {
                    li > a {
                        font-weight: normal;
                        @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
                        padding: 5px 10px !important;
                        margin: 5px 0px !important;
                        font-size: $font-size-small;
                        text-transform: uppercase;
                    }
                    li:first-child > a {
                        @include button-variant($color-secondary, $btn-default-bg, $color-secondary);
                        border: 2px solid $color-secondary;
                        color: $color-secondary !important;
                    }
                    &:last-child {
                    margin-right: 5px !important;
                    }
                }
            } 
        }
    }

    main {
        .page-header {
            .jumbotron {
                padding-top: 80px;
                padding-bottom: 80px;
                .col-md-12 {
                    padding-left: 120px;
                    padding-right: 120px;
                }
            }
        }
    }

}

