//Colours
$color-primary: #EF8200 !default;
$bg-media-overlay-color: #b86933;

$color-secondary: #1f747e !default;
$color-secondary-dark: #125d66 !default;
$color-secondary-light: #008998 !default;
$color-secondary-lighter: #75c4cd !default;
$color-secondary-lightest: #b8dee2 !default;

//Fonts
$font-family-sans-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
